node_modules

*.seed
*.log
*.dat
*.out
*.pid
*.gz
*~
.idea
*.sublime-project
*.sublime-workspace
*.orig

pids
logs
results

npm-debug.log

test
bin
.gitignore
.jshintignore
.jshintrc
.npmignore
.travis.yml
